[submodule "flipper"]
	path = flipper
	url = git@github.com:pagelines/flipper.git
[submodule "hero"]
	path = hero
	url = git@github.com:pagelines/hero.git
[submodule "icallout"]
	path = icallout
	url = git@github.com:pagelines/icallout.git
[submodule "masthead"]
	path = masthead
	url = git@github.com:pagelines/masthead.git
[submodule "popthumbs"]
	path = popthumbs
	url = git@github.com:pagelines/popthumbs.git
[submodule "propricing"]
	path = propricing
	url = git@github.com:pagelines/propricing.git
[submodule "quickslider"]
	path = quickslider
	url = git@github.com:pagelines/quickslider.git
[submodule "rapidtabs"]
	path = rapidtabs
	url = git@github.com:pagelines/rapidtabs.git
[submodule "revslider"]
	path = revslider
	url = git@github.com:pagelines/revslider.git
